@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h3, h4, h5, h6, p, span, li, a, button, input, textarea, select{
    font-family: 'Red Hat Display', sans-serif !important;
}
ul{padding: 0 !important; list-style: none !important; }
a{text-decoration: none !important; }


/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }


.container {
    width: 100% !important;
    max-width: 1360px !important;
    margin: auto !important;
}

section.sec_1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 0 80px 0;
    background: #191919;
}

header.header_wrap {
    position: absolute;
    width: 100%;
    top: 20px;
    margin: auto;
    z-index: 999;
}

.banner_iner h1 {
    
    
    
    
     /* 68.25px */
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.24px;
    text-transform: uppercase;
}

.banner_iner p {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    margin: 0 0 30px 0;
}

.banner_iner button {
    border-radius: 5px;
    background: #F40000;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
     /* 535.714% */
    text-transform: capitalize;
    line-height: 16px;
    border: none;
    width: 267px;
    height: 46px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.review_wrap {
    margin: 50px 0 0 0;
}

.review_wrap ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.review_wrap ul li h5 {
    margin: 0;
    color: #FFF;
    font-family: General Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.review_wrap ul li h6 {
    margin: 0;
    color: #FFF;
    font-family: General Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px; /* 192.857% */
    display: flex;
    align-items: center;
}

.review_wrap ul li h6 img {
    margin: 0 5px 0 0;
}

.review_wrap ul li {
    margin: 0 10px 0 0;
}

.banner_social p {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
}

.banner_social ul {
    display: flex;
    align-items: center;
}

.banner_social ul li svg {
    font-size: 25px;
    color: #fff;
}

.banner_social ul li {
    margin: 0 20px 0 0;
}

.reviews_inner ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.reviews_inner ul li {
    flex: 0 0 50%;
}

.reviews_inner ul li:nth-child(1) {flex: 0 0 45%;}

.reviews_inner {
    border-radius: 15px 15px 0px 0px;
    border: 0.5px solid #FFF;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.05);
    width: 525px;
    margin: 30px 0 0 0;
}

.reviews_inner ul li p {
    color: #FFF;
    font-family: General Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.reviews_inner ul li h5 {
    margin: 20px 0 5px 0;
    color: #FFF;
    font-family: General Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
     /* 562.5% */
    text-transform: capitalize;
}

.reviews_inner ul li h6 {
    margin: 0;
    color: #FFF;
    font-family: General Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}

div#navbarNav {
    justify-content: end !important;
}

div#navbarNav ul li a {color: #FFF;text-align: center;font-size: 20px;font-style: normal;font-weight: 600;line-height: 30px; /* 21.06px */}

div#navbarNav ul li {
    margin: 0 0 0 25px;
}

div#navbarNav ul li button.btn-dark {
    border: none;
    width: 250px;
    height: 49px;
    border-radius: 5px;
    background: #F40000;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: block;
}

button.btn-dark:hover {
    background: #fff !important;
    color: #000 !important;
    transition: 0.5s !important;
}

div#navbarNav ul li a:hover {
    color: #f40000;
}

section.sec_2 {
    padding: 60px 0;
}

.youtube_inner h2 {
    color: #000;
    font-family: General Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%; /* 51.75px */
    letter-spacing: -0.9px;
    text-transform: capitalize;
}

.youtube_inner p {
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
}

.youtube_inner button {
    border-radius: 40px;
    background: #EA0012;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
     /* 535.714% */
    text-transform: capitalize;
    border: none;
    width: 200px;
    height: 50px;
    margin: 20px 0 0 0;
}

.image_box ul {
    display: flex;
    align-items: center;
}

.image_box h4 {
    color: #000;
    font-family: General Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%; /* 28.75px */
    letter-spacing: -0.5px;
    text-transform: capitalize;
}

.image_box p {
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    width: 90%;
    margin: 0;
}

.image_box {
    margin: 0 0 40px 0;
    border-bottom: 1px solid #000;
    padding: 0 0 40px 0;
}

.image_box.border_none {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.youtube_img img {
    width: 80%;
}

.youtube_inner {
    min-height: 750px;
}

.item ul {
}

.item ul li:nth-child(1) {
}

.item ul li:nth-child(2) {
    flex: 0 0 60%;
}

.item ul li img {
    width: 100%;
}

.item ul li:nth-child(2) img {
    width: auto;
}

.item ul li h2 {
    
    
    
    
    
     /* 51.75px */
    
border-radius: 7.397px 7.397px 0px 0px;
    
background: rgba(25, 25, 25, 0.80);
    
padding: 15px 0;
    
color: #FFF;
    
text-align: center;
    
font-size: 35.507px;
    
font-style: normal;
    
font-weight: 900;
    
line-height: 120%; /* 42.609px */
    
letter-spacing: -0.178px;
    
text-transform: lowercase;
    
margin: 0;
    
width: 99.6%;
    
margin: auto;
}

.item ul li p {
    color: #000;
    font-family: Poppins;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 152.381% */
}

.child_item {
    display: flex;
    align-items: center;
}

.child_item h2 {
    flex: 0 0 46%;
    margin: 0;
}

.child_item p {
    color: #000;
    font-family: Poppins;
    font-size: 15px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 25px !important; /* 166.667% */
    margin: 0;
}

.item ul li h5 {
    margin: 30px 0 20px 0;
    color: #000;
    font-family: General Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%; /* 34.5px */
    letter-spacing: -0.6px;
    text-transform: capitalize;
}

section.sec_3 {
    padding: 0 0 80px 0;
}

button.slick-next.slick-arrow, button.slick-prev.slick-arrow {
    font-size: 0;
    border: none;
    background-image: url(../images/solar.png);
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    position: absolute;
    right: -65px;
    bottom: 0;
    z-index: 999;
    background-color: transparent !important;
    top: 0;
    margin: auto;
}

button.slick-prev.slick-arrow {
    background-image: url(../images/prev.png);
    left: -60px;
    right: unset;
}

section.sec_4 {
    background: #000;
    padding: 80px 0;
}

.rocket_inner {
    text-align: center;
}

.rocket_inner h2 {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%; /* 51.75px */
    letter-spacing: -0.9px;
    text-transform: capitalize;
}

.rocket_center {
    text-align: center;
}

.rocket_box ul {
    display: flex;
    flex-wrap: wrap;
}

.rocket_box ul li:nth-child(1) {
    flex: 0 0 13%;
}

.rocket_box ul li:nth-child(2) {
    flex: 0 0 87%;
}

.rocket_box ul li h5 {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px; /* 28.75px */
    text-transform: capitalize;
}

.rocket_box ul li p {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
}

.rocket_box {
    border-bottom: 1px solid #FFF;
    margin: 0 0 30px 0;
    padding: 0 0 30px 0;
}
.rocket_wrap {
    padding-bottom: 0;
    border-bottom: 0;
    margin: 0;
}

.right_wrap ul {
    flex-direction: row-reverse;
}

.right_wrap ul li:nth-child(1) {
    text-align: right;
}

.right_wrap ul li {
    text-align: right;
}

section.sec_5 {
    padding: 150px 0 80px 0;
}

.portfolio_inner h2 {
    color: #000;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%; /* 51.75px */
    letter-spacing: -0.9px;
    text-transform: capitalize;
}

.portfolio_inner p {
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
}

.portfolio_inner button {
    border-radius: 40px;
    background: #EA0012;
    border: none;
    width: 186px;
    height: 49px;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 535.714% */
    text-transform: capitalize;
}

.youtube_inner_wrap ul li img {
    width: 95%;
    margin: 0 0 20px 0;
}

.youtube_inner_wrap button.slick-next.slick-arrow, .youtube_inner_wrap button.slick-prev.slick-arrow {
    bottom: unset;
    top: -80px;
}

.youtube_inner_wrap button.slick-prev.slick-arrow {right: 55px;}

.youtube_inner_wrap ul li h5 {
    margin: 0 0 10px 0;
    color: #000;
    font-family: General Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px; /* 28.75px */
    letter-spacing: -0.5px;
    text-transform: capitalize;
}

.youtube_inner_wrap ul li p {
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
} 

section.sec_6 {
    padding-bottom: 80px;
}

.faq_inner h2 {
    color: #000;
    font-family: General Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%; /* 51.75px */
    letter-spacing: -0.9px;
    text-transform: capitalize;
}

.faq_inner p {
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
}

.faq_inner button {
    border-radius: 40px;
    background: #EA0012;
    width: 193px;
    height: 49px;
    border: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 535.714% */
    text-transform: capitalize;
}

.faq_inner_wrap {}

.faq_inner_wrap button {
    padding: 0 0 0 20px;
    border-bottom: 1px solid #000;
    height: 60px;
    color: #000 !important;
    font-family: Poppins !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 227.5% */
    text-transform: capitalize;
}

.faq_inner_wrap .accordion-item {
    border: none;
}

.accordion-button:focus {
    border-color: #fff !important;
}

.accordion-button:not(.collapsed) {
    background: transparent !important;
}

.accordion-button::after {
    background-image: url(../images/plus.png) !important;
    width: 11px !important;
    height: 12px !important;
    background-size: cover !important;
    position: relative;
    right: 20px;
}

section.sec_7 {
    padding: 0 0 80px 0;
}

.client_inner {
    text-align: center;
}

.client_inner h2 {
    color: #000;
    font-family: General Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 115%; /* 51.75px */
    letter-spacing: -0.9px;
    text-transform: capitalize;
}

.client_inner p {
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    margin: 0;
}

.client_info {
    display: flex;
    align-items: center;
}

.client_info h4 {
    margin: 0 0 5px 0;
    color: #000;
    font-family: General Sans;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 223.81% */
    text-transform: capitalize;
}

.client_info p {
    margin: 0;
    color: #000;
    font-family: General Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 187.5% */
}

.client_box ul li p {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.client_box ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.client_box ul li {
    flex: 0 0 24%;
    background: #fff;
    padding: 20px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px #cebcbc;
    margin: 0 0 20px 0;
}

.client_info span img {
    width: 70px;
    margin: 0 10px 0 0;
}

section.footer_sec {
    padding: 50px 0 30px 0;
    background: #202020;
    border-bottom: 17px solid #F40000;
}

.footer_menu ul {
    margin: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.footer_menu ul li a {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.footer_menu ul li {
    margin: 0 0 0 60px;
}

.footer_menu ul button {
    border-radius: 40px;
    background: #000;
    border: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 535.714% */
    text-transform: capitalize;
    width: 214px;
    height: 49px;
    margin: 0 0 0 60px;
}

.footer_menu ul li a:hover {
    color: #000;
    transition: 0.5s;
}

.footer_inner h2 {
    color: #FFF;
    font-family: General Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 100% */
    text-transform: uppercase;
}

.footer_inner p {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
    width: 70%;
}

.footer_inner form {
    margin: 50px 0 0 0;
    position: relative;
    width: 520px;
}

form {}

.footer_inner form input[type="email"] {
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    width: 100%;
    outline: none;
    padding: 0;
    height: 55px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 178.571% */
}

.footer_inner form input[type="email"]::placeholder {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 178.571% */
}

.footer_inner form input[type="submit"] {
    position: absolute;
    right: 0;
    bottom: 10px;
    border-radius: 40px;
    background: #000;
    border: navajowhite;
    color: #fff !important;
    width: 157px;
    height: 49px;
}

.footer_links h4 {
    margin: 0 0 20px 0;
    color: #FFF;
    font-family: General Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 400% */
    text-transform: uppercase;
}

.footer_links ul {
    margin: 0;
}

.footer_links ul li a {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_links ul li {
    margin: 0 0 10px 0;
}

.footer_links {
    padding-left: 50px;
}

.bottom_footer {text-align: center;border-top: 1px solid #000;padding: 20px 0 0 0;margin: 50px 0 0 0;}

.bottom_footer p {
    
    
    
    
    
    
     /* 216.667% */
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bottom_footer span a {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0 10px;
}

.row.mt-5.mobile {
    display: none;
}


.banner_img {
    text-align: center;
}

.banner_iner h1 span {
    color: #F40000;
}

.banner_iner p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 624px;
}

.img_box {
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 20px 0px #E6E6E6;
    padding: 30px 30px;
    min-height: 340px;
}

.second_inner {
    text-align: center;
}

.second_inner h2 {
    color: #191919;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.24px;
    text-transform: uppercase;
}

.second_inner h2 span {
    color: #F40000;
}

.second_inner p {
    color: #191919;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 767px;
    margin: auto;
}

.img_box img {
    margin: 0 0 20px 0;
}

.img_box h5 {
    color: #F40000;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.img_box p {
    color: #191919;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

section.sec_success {
    padding: 0 0 80px 0;
    background-color: #f6f2f2a0;
}

.sucess_inner {
    text-align: center;
}

.sucess_inner h2 {
    color: #191919;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.24px;
    text-transform: uppercase;
}

.sucess_inner h2 span {
    color: #F40000;
}

.sucess_inner p {
    color: #191919;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 767px;
    margin: auto;
}

img.profile {
    width: auto !important;
}

.success_inner .item ul {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.success_inner .item ul li {
    flex: 0 0 49%;
    background-image: url(../images/slider_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
    padding: 13px 0 0 0px;
}

.slider_content {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

.slider_content .child_inner:nth-child(1) {
    flex: 0 0 55%;
    text-align: center;
    background: #fffffff7;
    padding: 30px 0;
    height: 42vh;
}

.slider_content .child_inner:nth-child(2) {
    flex: 0 0 43%;
}

.slider_content .child_inner p {
    color: #191919;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 12px 20px;
    background-color: white;
    height: 200px;
    width: 100%;
    position: relative;
    bottom: 20px;
   
  
}

.slider_content .child_inner img {
    margin: 0 0 20px 0;
}

.slider_content .child_inner:nth-child(1) img {
    margin: auto;
    margin-bottom: 20px;
}

ul.slick-dots li {
    font-size: 0;
    margin: 0;
    background: #D9D9D9;
    opacity: 1;
    visibility: visible;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    z-index: 9999;
    cursor: pointer;
}

ul.slick-dots li button {
    border: none;
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0.5;
}

ul.slick-dots {
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
    opacity: 1;
}

ul.slick-dots li.active button {
    opacity: 1;
}

li.slick-active button {
    opacity: 1 !important;
}

section.cta_sec {
    background-image: url(../images/cta.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 80px 0;
}
.cta_iner {
    text-align: center;
}

.cta_iner h2 {
    color: #FFF;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.24px;
    text-transform: uppercase;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

.cta_iner h5 {
    color: #FFF;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 45.6px */
    letter-spacing: -0.19px;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

button.btn-dark {
    border-radius: 5px;
    background: #F40000;
    border: none;
    width: 267px;
    height: 46px;
    color: #FFF;
    font-family: Red Hat Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;   
}

.cta_iner button {
    margin: auto;
}

button.btn-dark:hover {
    background: #000;
}

button.btn-dark:hover img {
    filter: brightness(0);
    transition: 0.5s;
}

section.social_sec {
    padding: 80px 0;
}

.social_inner {
    text-align: center;
}

.social_inner h2 {
    color: #191919;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.24px;
    text-transform: uppercase;
}

.social_inner h2 span {
    color: #F40000;
}

.social_inner img {
    width: 80%;
}

.social_content h2 {
    display: flex;
    align-items: center;
    color: #F40000;
    font-family: Red Hat Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0 0 20px 0;
}

.social_content h2 img {
    margin: 0 15px 0 0px;
}

.social_content p {
    color: #191919;
    font-family: Red Hat Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 !important;
    padding: 0 0 0 40px;
}

.social_content {
    margin: 0 0 30px 0;
}

.logo img {
    width: 100%;
}

section.portfolio_sec {
    padding: 0 0 80px 0;
}

.portfolio_inner {
    text-align: center;
}

.portfolio_inner h2 {
    color: #191919;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.24px;
    text-transform: uppercase;
    margin: 0;
}

.portfolio_inner h2 span {
    color: #F40000;
}

.portfolio_inner p {
    color: #191919;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.portfolio_wrap ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio_wrap ul li {
    flex: 0 0 32.5%;
    margin: 0 0 15px 0;
}

.portfolio_wrap ul li img {
    width: 100%;
}

.portfolio_wrap {
    margin: 40px 0 0 0;
}

.portfolio_inner button {
    margin: auto;
}

section.testimonial_sec {
    padding: 0 0 80px 0;
}

.testimonial_inner {
    text-align: center;
}

.testimonial_inner h2 {
    color: #191919;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.24px;
    text-transform: uppercase;
    margin: 0;
}

.testimonial_inner h2 span {
    color: #F40000;
}

.testimonial_inner p {
    color: #191919;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.item_wrap {
    border-radius: 20px;
    background: #F40000;
    text-align: center;
    margin: 0 10px;
}

.item_wrap img {
    margin: auto;
    margin-bottom: 10px;
}

.item_wrap h2 {
    color: #FFF;
    font-family: Red Hat Display;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.item_wrap h6 {
    color: #FFF;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.item_wrap p {
    color: #FFF;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.item_wrap h3 {
    color: #FFF;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.item_wrap.slick-slide.slick-current.slick-active.slick-center {
    opacity: 1;
}

.item_wrap.slick-slide {
    opacity: 0.3;
}

section.acodian_sec {
    padding: 80px 0;
}

.acodian_inenr {
    text-align: center;
}

.acodian_inenr h2 {
    margin: 0;
    color: #191919;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 57.6px */
    letter-spacing: -0.24px;
    text-transform: uppercase;
}

.acodian_inenr h2 span {
    color: #F40000;
}

.accordian_wrap {
    margin-top: 40px !important;
    width: 1036px;
    margin: auto;
}

.accordion-item {
    border: none !important;
}

button.accordion-button {
    padding: 0;
    color: #191919;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 55px;
    border-radius: 10px !important;
    background: #fff;
    box-shadow: 0px 4px 20px 0px rgba(193, 193, 193, 0.25);
    margin: 0 0 10px 0;
    padding: 0 0 0 20px;
    position: relative;
}

.cta_new {
    padding-top: 60px !important;
}

button.accordion-button:before {
    content: '';
    display: block;
    position: absolute;
    background: red;
    width: 10px;
    height: 55px;
    left: 0;
    border-radius: 20px;
}

.accordion-button:not(.collapsed) {
    box-shadow: unset !important;
    color: #000 !important;
}

.accordion-button::after {
    background-image: url(../images/down.png) !important;
    background-repeat: no-repeat;
    width: 20px !important;
    height: 19px !important;
}

.modal-header {padding: 0 !important;border: none !important;margin-bottom: 20px;}
.modal-body {padding: 0 !important; }
.modal {background: #000000e6;}
.modal-dialog {position: absolute; left: 0; right: 0; margin: auto; }
.popup_form_wrp {padding: 0 15px; / text-align: center; / }
.popup_form_wrp h2 {font-weight: 800;font-size: 33px;color: #494949;margin: 0 0 10px 20px;position: relative;}
.modal-content {padding: 30px 0; }
.popup_form_wrp p {color: #343434; font-weight: 500; }
.popup_form_wrp form input, .popup_form_wrp form select, .popup_form_wrp form textarea {width: 100%;background: #fff;border-radius: 20px;height: 45px;margin: 0 0 15px 0;padding: 0 0 0 20px;font-family: 'Raleway';font-weight: 500;outline: none;color: rgba(0, 0, 0, 0.44);border: 1px solid #f40000; color: #000; }
.popup_form_wrp form {margin: 30px 0 0 0; }
.popup_form_wrp form input::placeholder, .popup_form_wrp form textarea::placeholder {color: rgba(0, 0, 0, 0.44); font-size: 14px; }
.popup_form_wrp form textarea {border-radius: 15px; height: 130px; padding: 15px 18px; }
.popup_form_wrp form select {font-size: 14px; font-weight: 500; }
.modal-content {border-radius: 20px; }
.modal-content {border: 2px solid #f40000 !important;}
.popup_form_wrp h2:before {content: '';display: block;position: absolute;background: #f40000;width: 10px;height: 40px;left: -20px;border-radius: 5px;}

span.color_form {color: #f40000;}
button.btn-close {position: absolute;right: 8px;top: 8px;background: #f40000;opacity: 1;border-radius: 0;width: 30px;height: 25px;border-bottom-left-radius: 20px;}
button.btn-close:after {content: ''; display: block; position: absolute; background: #fff; width: 4px; height: 26px; top: 5px; transform: rotate(42deg); left: 25px; border-radius: 5px; }
button.btn-close:before {content: ''; display: block; position: absolute; background: #fff; width: 4px; height: 26px; top: 5px; transform: rotate(129deg); left: 24px; border-radius: 5px; }
button.btn-close:hover {background: #F3AD16; opacity: 1; }

button.popup_button {background: linear-gradient(180deg, #39AFF9 0%, #007CCA 100%);box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);border-radius: 20px;border: none;font-style: normal;font-weight: 700;font-size: 20px;line-height: 23px;color: #FFFFFF;text-transform:capitalize;width: 200px;height: 50px;font-family: 'Raleway';}
button.popup_button:hover {background: #f3ad16; }

.popup_form_wrp input[type="submit"] {
    padding: 0 !important;
    background: #f40000 !important;
    color: #fff !important;
}

.popup_form_wrp input::placeholder, .popup_form_wrp textarea::placeholder {
    color: #000 !important;
}

.mobile {
    display: none;
}


.inner_banner {
    padding: 50px 0 0 0 !important;
}

.inner_banner .row {height: 588px;}

.potfolio_iner_page {
    padding-top: 80px !important;
}
  
  .testimonial_wraper .slick-list {
    padding-top: 5%!important;
    padding-bottom: 3%!important;
    padding-left: 15%!important;
    padding-right: 15%!important;
  }

  
  .testimonial_wraper .slick-track {
    max-width: 100%!important;
    transform: translate3d(0, 0, 0)!important;
    perspective: 100px;
  }
  
  .testimonial_wraper .slick-slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    width: 100%!important;
    transform: translate3d(0, 0, 0);
    transition: transform 1s, opacity 1s;
  }
  
  .testimonial_wraper .slick-snext,
  .testimonial_wraper .slick-sprev {
    display: block;
  }
  
  .testimonial_wraper .slick-current {
    opacity: 2;
    position: relative;
    display: block;
    transform: translate3d(0, 0, 20px);
    z-index: 2;
  }
  
  .testimonial_wraper .slick-snext {
    opacity: 1;
    transform: translate3d(40%, 0, 0px);
    z-index: 1;
  }
  
  .testimonial_wraper .slick-sprev {
    opacity: 1;
    transform: translate3d(-40%, 0, 0px);
  }
  
  .test {
    display: block;
    width: 40%;
    border-radius: 20px;
    background: #F40000;
    text-align: center;
    padding: 13px 38px 0 30px;
    margin: auto;
    min-height: 321px !important;
}

  .test img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.test h3 {
    color: #FFF;
    font-family: Red Hat Display;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
}

.test h5 {
    color: #FFF;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 20px 0;
}

.test p {
    color: #FFF;
    text-align: center;
    font-family: Red Hat Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow-y: scroll;
    height: 90px !important;
    margin-top: 20px;
    width: 100%;
    padding: 0 20px;
}

.testimonial_wraper .rev_slide.slick-slide.slick-sprev, .testimonial_wraper .rev_slide.slick-slide.slick-snext {opacity: 0.3;}

button.slick-arrow {
    position: absolute;
    margin: auto;
    font-size: 0;
    border: none;
    left: -40px;
    top: 0;
    bottom: 0;
    background-image: url(../images/prev.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background-color: transparent;
}

.rev_slider_new button.slick-arrow:nth-child(3) {
    background-image: url(../images/solar.png);
    left: unset;
    right: -40px;
}

section.testimonial_sec.desktop {
    padding: 80px 0 80px 0 !important;
}

ul.slick-dots li.slick-active {
    background: #000;
}

.inner_banner .banner_iner p {width: 732px;}

.inner_banner .banner_iner h1 {
    font-size: 65px;
}

section.sec_success.sucess_inner_page {
    padding: 80px 0;
}

span {
    color: #f40000;
}

.cta_iner p {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
}
.card {
    border: none !important;
}


section.portfolio_sec .portfolio_inner button.btn-dark:hover {
    background: #000 !important;
    color: #fff !important;
}

section.portfolio_sec .portfolio_inner button.btn-dark:hover img {
    filter: unset;
}

.desc {
    text-align: center;
}

.desc h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.desc p {
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    margin: 0;
}

.accordion-body {
    box-shadow: 0 0 10px #c7c7c7;
    padding: 20px 15px 7px 15px;
    margin: 0 0 20px 0;
    border-radius: 10px;
}

@media only screen and (max-width: 1366px){
    .container {
        max-width: 1240px !important;
    }
    
    button.slick-next.slick-arrow {
        display: none !important;
    }
    .rev_slider_new button.slick-arrow:nth-child(3) {
        right: 0;
    }

    button.slick-arrow {
        left: 0;
    }
}

@media only screen and (max-width: 1200px){

    div#navbarNav ul li a {
        font-size: 18px;
    }
    
    div#navbarNav ul li {
        margin: 0 0 0 15px;
    }

    .banner_iner h1 {
        font-size: 45px;
    }
    
    .youtube_inner h2 {
        font-size: 35px;
    }
    
    .item ul li h2 {
        font-size: 26px;
        width: 100%;
        background: #f40000;
    }
    
    .rocket_box ul li h5 {
        font-size: 20px;
        line-height: 30px;
    }
    
    .youtube_inner_wrap ul li h5 {
        font-size: 22px;
    }
    
    .footer_inner h2 {
        font-size: 50px;
    }
    
    .footer_links h4 {
        font-size: 18px;
    }
    
    .footer_links {
        padding-left: 40px;
    }

}
@media only screen and (max-width: 767px){

    button.accordion-button {
        font-size: 14px;
        padding: 0 10px 0 20px;
        height: 70px;
    }
    .slider_content .child_inner p {
        color: #191919;
        text-align: center;
        font-family: Red Hat Display;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 12px 20px;
      
        
    }
    
    button.accordion-button:before {
        height: 70px;
    }

    .social_content p {
        padding: 0 15px;
    }
    .img_box {
        margin: 0 0 20px 0;
    }

    .modal-content {
        padding: 10px 0;
    }
    
    .popup_form_wrp h2 {
        font-size: 30px;
    }


    .inner_banner .banner_iner h1 {
        font-size: 40px;
        line-height: 50px;
    }
    
    .inner_banner .row {
        height: auto;
    }
    
    .inner_banner {
        padding: 150px 0 80px 0 !important;
    }
    
    .potfolio_iner_page {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
    
    section.testimonial_sec.mobile {
        padding-top: 30px;
    }


    .success_inner .item ul {
        display: block !important;
    }
    
    .success_inner .item ul li {
        background-image: unset;
    }
    
    .slider_content {
        display: block !important;
    }
    
    .slider_content  .child_inner {padding: 30px 9px !important;box-shadow: 0 0 10px #959090;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;}
    
    .mobile {
        display: block !important;
    }
    .desktop {
        display: none;
    }

    .banner_iner p {
        width: 100%;
    }
    
    .banner_img img {
        width: 100%;
        margin: 30px 0 0 0;
    }
    
    .second_inner p {
        width: 100%;
    }
    
    p {
        width: 100% !important;
    }
    
    .accordian_wrap {
        width: 100%;
    }

    .logo img {
        width: 45%;
    }

    .row.mt-5.desktop {
        display: none;
    }
    
    .row.mt-5.mobile {
        display: block;
    }
    

    .reviews_inner ul {
        display: block;
    }
    
    .reviews_inner ul li {
        text-align: center;
    }
    
    .reviews_inner {
        width: 100%;
    }
    
    section.sec_1 {}
    
    section.sec_1 .row.align-items-center {
    }
    
    .banner_iner h1 {
        font-size: 30px;
        line-height: 40px;
    }
    
    .youtube_inner {
        min-height: auto;
    }
    
    .youtube_img {
        text-align: center;
        margin: 40px 0;
    }
    
    .image_box ul {flex-direction: column-reverse;}
    
    .image_box ul li {
        text-align: center;
    }
    
    .image_box p {
        width: 100%;
    }
    
    .image_box ul li img {
        margin: 0 0 20px 0;
    }
    
    .child_item {
        display: block;
        margin: 30px 0 0 0;
    }
    
    .item ul {
        display: block !important;
    }
    
    section.sec_2 {
        padding-bottom: 0;
    }
    
    .item ul li {
        text-align: center;
        padding: 0 10px !important;
    }
    
    .item ul li p {
        font-size: 16px;
        line-height: 25px;
    }
    
    .item ul li:nth-child(2) img {
        margin: auto;
    }
    
    button.slick-next.slick-arrow, button.slick-prev.slick-arrow {
        bottom: -40px;
        right: 0;
        left: 0;
        margin: auto;
    }
    
    button.slick-prev.slick-arrow {
        right: 10%;
    }
    
    button.slick-next.slick-arrow {
        left: 15%;
    }
    
    .rocket_inner h2 {
        font-size: 30px;
        line-height: 40px;
    }
    
    .rocket_center img {
        width: 60%;
    }
    
    .right_wrap ul li {
        text-align: left;
    }
    
    .right_wrap ul {
        flex-direction: unset;
    }
    
    .right_wrap ul li:nth-child(1) {
        text-align: unset;
    }
    
    section.sec_5 {
        padding: 30px 0 80px 0;
    }
    
    .youtube_inner_wrap button.slick-next.slick-arrow, .youtube_inner_wrap button.slick-prev.slick-arrow {
        top: 0;
        bottom: -440px;
    }
    
    .youtube_inner_wrap ul li {
        text-align: center;
    }
    
    .youtube_inner_wrap ul li img {
        margin: auto;
        margin-bottom: 20px;
        margin-top: 40px;
    }
    
    .faq_inner h2 {
        font-size: 35px;
    }
    
    .faq_inner_wrap {
        margin: 50px 0 0 0;
    }
    
    .client_inner h2 {
        font-size: 35px;
    }
    
    .footer_logo {
    }
    
    ul {}
    
    .footer_menu ul {
        display: block;
    }
    
    .footer_menu {
        text-align: left;
    }
    
    .footer_menu ul li {
        margin: 17px 0 0 0;
    }
    
    .footer_menu ul button {
        margin: 20px 0 0 0;
    }
    
    .footer_inner h2 {
        font-size: 30px;
        line-height: 40px;
    }
    
    .footer_inner p {
        width: 100%;
    }
    
    .footer_inner form {
        width: 100%;
    }
    
    .footer_links {
        padding: 0;
        margin: 30px 0 0 0;
    }
    
    .bottom_footer {
        margin: 30px 0 0 0;
        display: block;
        text-align: center;
    }
    
    .bottom_footer span a {
        margin: 0;
    }

    button.navbar-toggler {
        position: absolute;
        right: 0;
        top: -40px;
        background: #fff;
    }

div#navbarNav ul {
    background: #fff;
    align-items: start !important;
    padding: 10px 18px !important;
}

div#navbarNav ul li a {
    color: #000 !important;
}

div#navbarNav ul li {
    margin: 0 0 10px 0;
}

.second_inner h2 {
    font-size: 24px;
}

section.sec_success {
    padding: 40px 0;
    
}

.sucess_inner h2 {
    font-size: 35px;
}

.success_inner {
    margin: 30px 0 0 0;
}

.cta_iner h2 {
    font-size: 22px;
    width: 100%;
}

section.cta_sec {
    height: auto !important;
    padding: 60px 0 !important;
}

.cta_iner h5 {
    font-size: 22px;
}

.social_inner h2 {
    font-size: 24px;
}

section.social_sec {
    padding: 40px 0;
}
.slick-track {
    height: 467px;
}
.social_inner img {
    width: 100%;
    margin: 0 0 30px 0;
}

.social_content {
}

section.social_sec {}

section.social_sec .row.mt-5 {
    margin-top: 0 !important;
}

.portfolio_inner h2 {
    font-size: 35px;
}

.portfolio_wrap ul li {
    flex: 0 0 100%;
}

.testimonial_inner h2 {
    font-size: 35px;
}

.acodian_inenr h2 {
    font-size: 35px;
}

button.accordion-button {
    text-align: left;
}

.accordion-button::after {
    right: -10px;
}

section.acodian_sec {
    padding: 40px 0;
}
    
}
@media only screen and (max-width: 320px){
    .slider_content .child_inner p {
        color: #191919;
        text-align: center;
        font-family: Red Hat Display;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 12px 20px;
      
        
    }
}



.privacy_inner h1 {
    color: #fff;
    font-size: 35px;
    line-height: 35px;
    margin: 40px 0 15px 0;
}

.privacy_inner p {
    color: #fff;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
}